
<%= form_for(@organizer) do |f| %>
<%= link_to image_tag("icons/back.png", alt: t(:back)), organizers_path %>
<div>
  <%= f.label t(:name) %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label t(:description) %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.submit t(:create_organizer) %> <br/>
</div>


<% end %>
