<h1>List of organizers </h1>

<div id ="addIcon"> 
<%=link_to "Create organizer", new_organizer_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @organizers.each do |organizer| %>
 <tr>
      <td><%= organizer.name %></td>
      <td><%= organizer.description %></td>
      <td> <%= link_to image_tag('icons/edit.png'), edit_organizer_path(organizer) %></td>
      <td> <%= link_to image_tag('icons/show.png'), organizer_path(organizer) %></td>
      <td> <%= link_to "Delete", organizer_path(organizer),  method: :delete, notice: { confirm: 'Are you sure?'}  %></td>
    </tr>
 <% end %>
  </tbody>
</table>

