<article itemscope itemtype="http://schema.org/Organization">
<h1><%= t :list_of_organizers %></h1>

<div id ="addIcon"> 
<%=link_to t(:create_organizer), new_organizer_path %>
</div>

<table>
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th><%= t :description %></th>
    </tr>
  </thead>
  <tbody>
    <% @organizers.each do |organizer| %>
 <tr>
      <td itemprop="name"><%= organizer.name %></td>
      <td class="text-wrap" itemprop="description"><%= organizer.description %></td>
      <td> <%= link_to image_tag('icons/show.png'), organizer_path(organizer), class: 'show_organizer' %></td>
      <% if user_signed_in? %>
        <td> <%= link_to image_tag('icons/edit.png'), edit_organizer_path(organizer), class: 'edit_organizer' %></td>
        <td> <%= link_to t(:delete), organizer_path(organizer),  method: :delete, notice: { confirm: 'Are you sure?'}, class: 'delete_organizer'  %></td>
      <% end %>
    </tr>
 <% end %>
  </tbody>
</table>
</article>
