<article itemscope itemtype="http://schema.org/Organization">
  <%= link_to image_tag("icons/back.png", id: "backIcon"), organizers_path %>
<p itemprop="name">
  <b><%= t :name %>:</b>
  <%= @organizer.name %>
</p>

<p class="text-wrap" itemprop="description">
  <b><%= t :description %></b>
  <%= @organizer.description %>
</p>
  <p> <%= link_to image_tag('icons/edit.png'), edit_organizer_path(@organizer) %></p>
</article>


