<ul class="menu">
  <li><%= link_to t(:calendar), calendar_path %></li>
  <li><%= link_to t(:events), events_path %></li>
  <li><%= link_to t(:locations), locations_path %></li>
  <li><%= link_to t(:organizers), organizers_path %></li>
  <% if user_signed_in? %>
  	<li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
  <% else %>
  	<li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>
</ul>

<%= link_to "English", url_for( :locale => 'en' ) %>
<%= link_to "Español", url_for( :locale => 'es' ) %>

