<ul class="menu">
  <li><%= link_to t(:calendar), root_path %></li>
  <li><%= link_to t(:events), events_path %></li>
  <li><%= link_to t(:locations), locations_path %></li>
  <li><%= link_to t(:organizers), organizers_path %></li>
</ul>

<%= link_to "English", url_for( :locale => 'en' ) %>
<%= link_to "Español", url_for( :locale => 'es' ) %>

