<tr>
   <td itemprop="summary"><%= event.name %></td>
   <td itemprop="startDate"><%= event.day.to_formatted_s(:long) %> </td>
   <% if event.location.present? %>
     <td itemprop="name" itemscope itemtype="http://schema.org/Place"><%= event.location.name %></td>
   <% else %>
    <td>Pending</td>
  <% end %>
  <% if event.organizer.present? %>
     <td itemprop="name" itemscope itemtype="http://data-vocabulary.org/Organization" ><%= event.organizer.name %></td>
   <% else %>
     <td>Pending</td>
   <% end %>
   <td class = "text-wrap" itemprop="description"><%= event.description %></td>
   <td itemprop="eventType"><%= event.event_type %></td>   
   <% if event.responsible.present? %>
     <td itemprop="name" itemscope itemtype="http://data-vocabulary.org/Organization" ><%= event.responsible  %></td>
   <% else %>
     <td>Pending</td>
   <% end %>
   
   <td> <%= link_to image_tag('icons/edit.png'), edit_event_path(event) %></td>
   <td> <%= link_to image_tag('icons/delete.png'), event_path(event),  method: :delete,  confirm: 'Are you sure?'  %></td>
</tr>
