<tr>
   <td itemprop="summary"><%= event.name %></td>
   <td itemprop="startDate"><%= event.startdatetime.to_formatted_s(:short) %> </td>

   <% if event.location.present? %>
     <td itemprop="name" itemscope itemtype="http://schema.org/Place"><%=link_to event.location.name, event.location %></td>
   <% else %>
    <td>Pending</td>
  <% end %>
  <% if event.organizer.present? %>
     <td itemprop="name" itemscope itemtype="http://data-vocabulary.org/Organization" ><%= link_to event.organizer.name, event.organizer %></td>
   <% else %>
     <td>Pending</td>
   <% end %>
   
   <td> <%= link_to "+ info", event_path(event) %></td>
   <td> <%= link_to image_tag('icons/edit.png'), edit_event_path(event) %></td>
   <td> <%= link_to image_tag('icons/delete.png'), event_path(event),  method: :delete,  data: { confirm: 'Are you sure?' }  %></td>
</tr>
