<%= form_for @event, remote: true do |f| %>

  <%= link_to image_tag("icons/back.png"), events_path %>

<div>
  <%= f.label t(:name) %>
  <%= f.text_field :name, :placeholder => "Write event's name", :autofocus => true %>
</div>
 
<div>
  <%= f.label t(:start_date) %>
  <%= f.text_field :startdatetime %>
</div>

<div>
  <%= f.label t(:duration) %>
  <%= f.text_field :duration %>
</div>

<div>

  <% if @locations.present?%>
    <%= f.label t(:location) %>
    <%= f.select(:location_id, options_for_select(@locations.collect {|d| [d.name, d.id]}), { include_blank: true }) %>
  <% end %>
</div>

<div>
  <% if @organizers.present?%>
    <%= f.label t(:organizer) %>
    <%= f.select(:organizer_id, options_for_select(@organizers.collect {|d| [d.name, d.id]}), { include_blank: true }) %>
  <% end %>
</div>


<div>
  <%= f.label t(:description) %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.label t(:event_type) %>
  <%= f.text_field :event_type %>
</div>
<div>
  <%= f.label t(:responsible) %>
  <%= f.text_field :responsible %>
</div>

<div>
  <%= f.label t(:public) %>
  <%= f.check_box :public %>
</div>


<div>

  <% if @tags.present?%>
    <%= f.label t(:tag) %>
    <%= f.select(:tag_ids, options_for_select(@tags.collect {|d| [d.name, d.id]})) %>
  <% end %>
</div>


<div>
  <%= f.submit t(:create_event) %> <br/>
</div>

<% end %>
