<%= form_for @event, remote: true do |f| %>

  <%= link_to image_tag("icons/back.png"), events_path %>

<div>
  <%= f.label :name %>
  <%= f.text_field :name, :placeholder => "Write event's name", :autofocus => true %>
</div>
 
<div>
  <%= f.label :day %>
  <%= f.text_field :day %>
</div>

<div>
  <%= f.label :duration %>
  <%= f.text_field :duration %>
</div>

<div>

  <% if @locations.present?%>
    <%= f.label :location %>
    <%= f.select(:location_id, options_for_select(@locations.collect {|d| [d.name, d.id]})) %>
  <% end %>
</div>

<div>
  <% if @organizers.present?%>
    <%= f.label :organizer %>
    <%= f.select(:organizer_id, options_for_select(@organizers.collect {|d| [d.name, d.id]})) %>
  <% end %>
</div>


<div>
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>

<div>
  <%= f.label :event_type %>
  <%= f.text_field :event_type %>
</div>
<div>
  <%= f.label :responsible %>
  <%= f.text_field :responsible %>
</div>

<div>
  <%= f.label :public %>
  <%= f.check_box :public %>
</div>


<div>

  <% if @tags.present?%>
    <%= f.label :tag %>
    <%= f.select(:tag_ids, options_for_select(@tags.collect {|d| [d.name, d.id]})) %>
  <% end %>
</div>


<div>
  <%= f.submit 'Create event' %> <br/>
</div>

<% end %>
