<h1>List of events </h1>

<%=link_to(image_tag("icons/add.png"), new_event_path,  :id => "addIcon", remote: true) %>

<div id="table">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Day & Time</th>
      <th>Location</th>
      <th>Organizer</th>
      <th>Description</th>
      <th>Event type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
 <tr>
      <td><%= event.name %></td>
      <td><%= event.day.to_formatted_s(:long) %> </td>
      <% if event.location.present? %>
          <td><%= event.location.name %></td>
	<% else %>
 	  <td>Pending</td>
	<% end %>
      <% if event.organizer.present? %>
        <td><%= event.organizer.name %></td>
      <% else %>
	 <td>Pending</td>
      <% end %>
      <td><%= event.description %></td>
      <td><%= event.event_type %></td>
      <td> <%= link_to image_tag('icons/edit.png'), edit_event_path(event) %></td>
      <td> <%= link_to image_tag('icons/show.png'), event_path(event) %></td>
      <td> <%= link_to "Delete", event_path(event),  method: :delete, notice: { confirm: 'Are you sure?'}  %></td>
    </tr>
 <% end %>
  </tbody>
</table>

</div>
