<article itemscope itemtype="http://data-vocabulary.org/Event">

<h1><%= t :list_of_events %></h1>

<%=link_to("new event", new_event_path) %>
<div id="events_index_form">
</div>
<table id="events_table">
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th><%= t :start_date %></th>
      <th><%= t :location %></th>
      <th><%= t :organizer %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= render @events %>
  </tbody>
</table>
</article>
