  <%= link_to image_tag("icons/back.png"), events_path %>
<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Day:</b>
  <%= @event.day %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Event type:</b>
  <%= @event.event_type %>
</p>



