<article itemscope itemtype="http://data-vocabulary.org/Event">
  <%= link_to image_tag("icons/back.png"), :back, :id =>"backIcon" %>
  <p itemprop="summary">
    <b>Name:</b>
    <%= @event.name %>
  </p>

  <p>
    <b>Day:</b>
    <time itemprop="startDate" datetime= <%= @event.startdatetime.to_formatted_s(:long) %> > <%= @event.startdatetime.to_formatted_s(:long) %> </time> 
  </p>
  <p>
    <b>Duration</b>
    <time itemprop="duration" > <%= distance_of_time_in_words(@event.duration) %> </time> 
  </p>
  <p itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
    <% if @event.location.present? %>
    <b>Location:</b>
    <span itemprop="name">  <%= link_to @event.location.name, location_path(@event.location.id) %> </span>
    <% end %>
  </p>
  <p itemprop="name" itemscope itemtype="http://data-vocabulary.org/Organization">
    <% if @event.organizer.present? %>
    <b>Organizer:</b>
    <%= link_to @event.organizer.name, organizer_path(@event.organizer.id) %>
    <% end %>
  </p>

  <p class="text-wrap" itemprop="description">
    <b>Description:</b>
    <%= @event.description %>
  </p>

  <p itemprop="eventType">
    <b>Event type:</b>
    <%= @event.event_type %>
  </p>

  <p itemprop="employee" itemscope itemtype="http://schema.org/Organization">
    <b>Person responsible:</b>
    <%= @event.responsible %>
  </p>

  <p><b>Public</b>
    <%= boolean_to_words(@event.public) %>
  </p>

  <p>
    <b>Tags:</b>
    <% @event.tags.each do |tag| %>
    <%= tag.name %>
    <% end %>
  </p>

  <p>
 <%= link_to image_tag('icons/edit.png'), edit_event_path(@event) %>
  </p>
</article>
