  <%= link_to image_tag("icons/back.png"), events_path %>
<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Day:</b>
  <%= @event.day %>
</p>

<p>

  <% if @event.location.present? %>
  <b>Location:</b>
  <%= link_to @event.location.name, location_path(@event.location.id) %>
  <% end %>
</p>
<p>
  <% if @organizers.present? %>
  <b>Organizer:</b>
  <%= link_to @event.organizer.name, organizer_path(@event.organizer.id) %>
  <% end %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Event type:</b>
  <%= @event.event_type %>
</p>



