
<%= link_to image_tag("icons/back.png"), locations_path, :id => "backIcon" %>


<%= form_for(@location) do |f| %>
<div>
  <%= f.label t(:name) %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label t(:description) %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.label t(:address) %>
  <%= f.text_field :address %>
</div>

<div>
  <%= f.submit t(:create_location) %> <br/>
</div>


<% end %>
