
<%= form_for(@location) do |f| %>
<%= link_to image_tag("icons/back.png"), locations_path %>
<div>
  <%= f.label t(:name) %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label t(:description) %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.label t(:address) %>
  <%= f.text_field :address %>
</div>

<div>
  <%= f.submit 'Create location' %> <br/>
</div>


<% end %>
