
<%= form_for(@location) do |f| %>
<%= link_to image_tag("icons/back.png"), locations_path %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>

<div>
  <%= f.label :address %>
  <%= f.text_field :address %>
</div>

<div>
  <%= f.submit 'Create location' %> <br/>
</div>


<% end %>
