<article itemscope itemtype="http://schema.org/Place">
<h1><%= t :list_of_locations %> </h1>

<div id ="addIcon"> 
<%=link_to t(:create_location), new_location_path %>
</div>

<table>
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th><%= t :address %></th>
      <th><%= t :description %></th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
 <tr>
      <td itemprop="name"><%= location.name %></td>
      <td itemprop="address"><%= location.address %></td>
      <td class="text-wrap" itemprop="description"><%= location.description %></td>
      <td> <%= link_to image_tag('icons/show.png'), location_path(location) %></td>
      <% if user_signed_in? %>
        <td> <%= link_to image_tag('icons/edit.png'), edit_location_path(location) %></td>
        <td> <%= link_to t(:delete), location_path(location),  method: :delete, notice: { confirm: 'Are you sure?'}  %></td>
      <% end %>
    </tr>
 <% end %>
  </tbody>
</table>

</article>
