<article itemscope itemtype="http://schema.org/Place">

  <%= link_to image_tag("icons/back.png"), locations_path %>
<p itemprop="name">
  <b><%= t :name %></b>
  <%= @location.name %>
</p>

<p  itemprop="description">
  <b><%= t :description %></b>
  <%= @location.description %>
</p>

<p itemprop="address">
  <b><%= t :address %></b>
  <%= @location.address %>
</p>

</article>

