<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Webcalendar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Webcalendar</h1>
    <nav>
      <%= render "shared/top_menu" %>
    </nav>
    </header>
  <section>

    <%= yield %>
  </section>
  <footer>
    <%= render "shared/footer" %>
  </footer>
</body>
</html>
